.product-detail-sect{
    width: 100%;
    display: grid;
    justify-items: center;
}

.product-name-container{
    width: 70%;
    display: flex;
    align-content: center;
    gap: 30px;
}

.name{
    font-weight: bold;
    font-size: 1.7vw;
}

.star-container{
    color: orange;
    height: 100%;
    display: flex;
    place-items: center;
    font-size: 1vw;
}

.product-ratecount{
    align-self: center;
    font-size: 1vw;
}

.product-detail-container{
    transform: translateX(-10px);
    width: 70%;
    display: flex;
    gap: 1%;
}

.img{
    width: 35%;
}

.detail-container{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 50px;
    gap: 10%;
}

.price{
    color: red;
    font-size: 1.7vw;
    position: relative;
}

.price::after{
    content: "đ";
    font-size: 1.4vw;
    position: absolute;
    top: 0;
}

.promotag{
    align-self: center;
    height: 25px;
    width: max-content;
    font-size: 15px;
    display: flex;
    place-items: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

.promotag.moiramat{
    background-color: #1191f8;
}

.promotag.tragop{
    background-color: #f28902;
}

.beforesale{
    font-size: 1.5vw;
    text-decoration: line-through;
    align-self: center;
}

.giamgia{
    padding: 0px 10px 0px 20px;
    background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
}

.fa-bolt{
    position: absolute;
    border: 1px solid  none;
    background-color: #f21;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    transform: translateX(-30px);
    display: grid;
    place-items: center;
    font-size: 12px;
}

.ship{
    width: 100%;
    background-color: #ecf7ed;
    height: 30px;
    display: flex;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.ship-icon{
    width: 13%;
    border-right: 1px solid rgb(209, 209, 209);
    display: grid;
    place-items: center;
}

.ship-icon i{
    font-size: 1.2vw;
}

.ship h1{
    width: 87%;
    font-size: 1.1vw;
    text-indent: 5%;
    align-self: center;
    color: #30a43b;
}

.promo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.promo-container h2{
    font-size: 0.9vw;
    height: 2px;
    margin-left: 2%;
}

.promo-detail-container{
    display: flex;
    gap: 2%;
    margin-left: 2%;
}

.promo-detail-container i{
    margin-top: 4.5%;
    font-size: 0.8vw;
    color: green;
}

.promo-detail{
    font-size: 0.9vw;
}

.promo-detail span{
    font-weight: bold;
}

.customer-profit-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.customer-profit-container div{
    width: 90%;
    display: flex;
    gap: 2%;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.customer-profit-container i{
    margin-top: 0.5%;
    font-size: 0.8vw;
}

.customer-profit-container span{
    color: #1191f8;
    font-size: 0.9vw;
}

.addtocart{
    border: unset;
    border-radius: 5px;
    color: white;
    background-image: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    display: grid;
    justify-items: center;
    cursor: pointer;
    height: 70px;
    width: 100%;
}

.addtocart:hover{
    background-image: -webkit-linear-gradient(top, #fd6e1d, #f59000);
}

.addtocart b{
    align-self: center;
    font-size: 0.8vw;
    font-weight: bold;
    height: 1%;
}

.addtocart span{
    align-self: flex-start;
    font-size: 0.7vw;
}

.product-info{
    width: 32%;
    border: 1px solid  rgb(209, 209, 209);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.product-info-title{
    display: grid !important;
    place-items: center;
}

.product-info-title b{
    font-size: 1.2vw;
}

.product-info div{
    width: 95%;
    height: 9.7%;
    display: flex;
    align-self: center;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 0.9vw;
}

.system{
    width: 40%;
    justify-self: flex-start;
    color: #666;
}

.system-detail{
    width: 60%;
    justify-self: flex-end;
}

.suggest{
    background-image: linear-gradient(120deg, #434aa8 0%, #ec1f1f 50%, #434aa8 100%);
}