.footer {
	position: relative;
	/* height: 40px; */
	width: 100%;
	background: #476;
}
.copy-right{
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 40px;
}
.copy-right a{
  text-decoration: none;
  color: white;
}


.copy-right p{
  margin: 0;
  width: 100%;
  height: 100%;
}