/* Slideshow */

.slideshow-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.slideshow{
    width: 70%;
}

/* For owl library */
    
.owl-dots {
    transform: translateY(20px);
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    height: 50px;
    justify-content: center;
}

.owl-dot{
    border: 2px solid transparent !important;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    background: rgb(202, 202, 202) !important;
}

.owl-dot.active{
    background: gray !important;
}

    /* Slideshow Img */

.item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 850px;
    width: 100%;
    height: 300px;
}

.item0{
    background-image: url("../img/banners/banner0.gif");
}

.item1{
    background-image: url("../img/banners/banner1.png");
}

.item2{
    background-image: url("../img/banners/banner2.png");
}

.item3{
    background-image: url("../img/banners/banner3.png");
}

.item4{
    background-image: url("../img/banners/banner4.png");
}

.item5{
    background-image: url("../img/banners/banner5.png");
}

.item6{
    background-image: url("../img/banners/banner6.png");
}

.item7{
    background-image: url("../img/banners/banner7.png");
}

.item8{
    background-image: url("../img/banners/banner8.png");
}

/* Main content */

.filter-sect{
    display: grid;
    justify-items: center;
    width: 100%;
}

.sale-ads{
    width: 70%;
}

.company-filter-container{
    transform: translateY(15px);
    width: 70%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.company{
    flex-basis: 180px;
    height: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: transform 0.4s;
    transition-property: transform;
    position: relative;
}

.company::after{
    content: "";
    width: 100%;
    height: 80%;
    opacity: 0;
    position: absolute;
    border: 2px solid gray;
    transition: opacity 0.4s;
    transition-property: opacity;
}

.company:hover{
    transform: scale(1.07);
}

.company:hover::after{
    opacity: 1;
}

.company img{
    width: 100%;
    height: 40px;
}

.custom-filter-container{
    width: 40%;
    height: 80px;
    display: flex;
    gap: 5%;
}

.filter-box{
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transition: background-color 0.5s;
    transition-property: background-color;
}

.filter-box-txt::after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f054";
    font-weight: 600;
    transform: translateY(3%);
    transition: transform 0.5s;
}

.filter:hover > .filter-box{
    background-color: rgb(2, 223, 2);
}

.filter:hover > .filter-box > .filter-box-txt::after{
    transform: rotate(90deg);
}

.filter:hover > .filter-choice{
    transform: scale(1);
    transform-origin: top left;
}

.filter-choice{
    background-color: rgba(236, 236, 236, 0.8);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 140%;
    top: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.5s;
    transition-property: transform;
}

.filter-choice a{
    text-decoration: none;
    color: black;
    font-weight: normal;
    width: 100%;
    height: 40px;
}

.filter-choice div{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.filter-choice div:hover{
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gray;
}

.filter.price{
    width: 17%;;
    height: 50px;
    font-size: calc(1vw + 1px);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    position: relative;
}

.filter.sale{
    width: 22%;;
    height: 50px;
    font-size: calc(1vw + 1px);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    position: relative;
}

.filter.star{
    width: 22%;;
    height: 50px;
    font-size: calc(1vw + 1px);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    position: relative;
}

.filter.sort{
    width: 17%;;
    height: 50px;
    font-size: calc(1vw + 1px);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    align-self: flex-end;
    position: relative;
}
