/* form */
.container-form{
  padding: 20px;
  border: 1px solid black;
  max-width: 50%;
  height: 500px;
}
.container-form h1{
  text-align: center;
  color: black;
}
.group-label{
  display: flex;
  justify-content: center;
}
.tab{
  width: 50%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.tab a{
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: block;
}
.forget{
  float: right;
}
.tab-content>div:last-child{
  display: none;
}
.tab-content>div{
  display: block;
}
.group-label .active{
   background:rgb(2, 102, 2) ;
}
.group-label div:hover{
  background-color: rgb(2, 102, 2);
}

/* Hieu ung chuyen canh */
.containTaikhoan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 69, 88, 0.9);
  transition: .2s ease;
  transform: scale(0);
  /* ẩn đi lúc vào web */
  z-index: 200;
}

.containTaikhoan .close {
  /* nút tắt form */
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 3rem;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  transition: .2s ease;
}

.containTaikhoan .close:hover {
  color: #fff;
  background-color: #f33;
  border-radius: 50%;
}

.tab-form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 30px auto;
}
.tab-form * {
  box-sizing: border-box;
  /* box sizing cho .taikhoan và mọi thằng trong .taikhoan */
}
.tab-form a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
.tab-header {
  /* khung chọn log in, sign up */
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
}
.tab-header a {
  /* nút Đăng nhập - Đăng kí */
  display: block;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;  
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-header a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-header .active{
  background: #1ab188;
  color: #ffffff;
}

.tab-form h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 40px 0;
}
.tab-form input{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.field-wrap {
  margin-bottom: 40px;
}
.tab-form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  /* https://www.w3schools.com/cssref/css_units.asp */
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  /* khoảng cách giữa các kí tự */
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  /* -webkit-appearance: none; */
  cursor: pointer;
}
.tab-form .button-block {
  display: block;
  width: 100%;
}

.tab-form .forgot {
  margin-top: -20px;
  text-align: right;
}
.tab-form .tab-body >div{
  display: none;
}
.tab-form .tab-body >div.active {
  display: block;
}