html, body{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    display: grid;
    justify-items: center;
}

header h1{
    height: 20px;
    font-size: 40px;
}

header p{
    font-size: 20px;
}

.option{
    list-style: none;
    display: flex;
    gap: 30px;
}

.option a{
    text-decoration: none;
    color: rgb(115, 101, 101);
}

.option a:hover{
    text-decoration: underline;
}

.header-contact-us{
    height: 100px;
    transform: translateY(20px);
    display: flex;
    gap: 20px;
    list-style: none;
}

.img-element{
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
}

.header-contact-us a{ 
    display: grid;
    height: 35px;
    width: 35px;
    position: relative;
}

.header-contact-us a:hover::before{
    transform: scale(1);
}

.header-contact-us a::before{
    content: "";
    height: 45px;
    width: 45px;
    border-radius: 50px; 
    transform: scale(0);
    transition: transform 0.5s;
    transition-timing-function: ease;
    transition-property: transform;
    transition-duration: 0.3s;
}

.fb::before{
    background-color: #0866FF;
}

.fb-img{
    background-image: url("https://static.vecteezy.com/system/resources/previews/018/930/702/original/facebook-logo-facebook-icon-transparent-free-png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.fb-img.img-element{
    transform: translate(3px, 3px);
}

.fb-img:hover{
    background-image: url("../img/fbwhite.png");
}


.twitter-img{
    background-image: url("https://www.iconpacks.net/icons/2/free-twitter-logo-icon-2429-thumb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.twitter-img.img-element{
    background-size: 60%;
    background-position: center;
    transform: translate(3px, 3px);
}

.twitter::before{
    background-color: #50ABF1;
}

.twitter-img:hover{
    background-image: url("../img/twitterwhite.png");
}

.navi-cart{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.navigation{
    list-style: none;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-self: flex-start;
    margin-left: 5%;
}

.navigation li{
    height: 70px;
    flex-basis: 200px;
    background-color: white;
}

.navigation a{
    width: inherit;
    text-decoration: none;
    overflow: hidden;
    color: rgb(72, 70, 70);
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: color 1s;
}

.navigation li a:hover{
    color: white;
}

.navigation a::before{
    content: "";
    background-color: rgb(250, 202, 44);
    width: 100%;
    height: 70px;
    transform: translateX(200px);
    transition: transform 1s;
    transition-property: transform;
    transition-timing-function: ease;
}

.navigation a:hover::before{
    transform: translateX(0px);
    opacity: 1;
}

.navigation a::after{
    content: "";
    width: 10px;
    height: 70px;
    background-color: green;
    position: absolute;
    left: -20px;
    transition: left 1s;
    transition-property: left;
    transition-timing-function: ease;
}

.navigation a:hover::after{
    left: 0;
}

.navigation p{
    position: absolute;
}

.cart-container{
    width: 100%;
    height: 70px;
    display: grid;
    align-items: center;
}

.cart-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/565/565375.png");
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
    margin-left: 60px;
}

.titleandsearch{
    height: 400px;
    width: 100%;
    background-image: url("https://img.freepik.com/premium-photo/mobile-phones-store-generative-ai_220873-21824.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.titleandsearch p{
    align-self: flex-end;
    color: white;
    font-weight: bold;
    font-size: 40px;
    height: 50px;
}

.searchbox-container{
    align-self: flex-start;
    width: 50%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.searchbox-container input{
    height: 45px;
    width: 50%;
    border-radius: 10px;
    opacity: 0.8;
}

.searchbox-container button{
    height: 51px;
    width: 51px;
    background-color: rgb(250, 202, 44);
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    transition: background-color 0.5s;
}

.searchbox-container button:hover{
    background-color: rgb(32, 203, 32);
}

.searchbox-container img{
    height: 30px;
    width: 30px;
}

.special-offer{
    display: grid;
    justify-items: center;
}

.special-offer-title{
    transform: translateY(20px);
}

.special-offer-title h1{
    font-size: 50px;
    display: grid;
    justify-items: center;
}

.title-line{
    transform: translateY(10px);
    width: 60%;
    height: 5px;
    background-color: green;
}

.special-offer-option{
    transform: translateY(30px);
    list-style: none;
    display: flex;
    gap: 40px;
    height: 150px;
}

.nonactive{
    font-size: 25px;
    text-decoration: none;
    color: rgb(115, 101, 101);
    position: relative;
    display: grid;
}

.nonactive::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 120%;
    background-color: black;
    bottom: -20px;
    justify-self: center;
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-property: transform;
}

.nonactive:hover::after{
    transform: scale(1);
    transform-origin: left;
}

.active{
    font-size: 25px;
    text-decoration: none;
    color: rgb(115, 101, 101);
    position: relative;
    display: grid;
}

.active::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 120%;
    background-color: black;
    bottom: -20px;
    justify-self: center;
}

.special-offer-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    height: 400px;
    width: 100%;
}

.product{
    height: 350px;
    flex-basis: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

