/* CSS cho thuoc tinh chung */

html, body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

hr{
    width: 70%;
    color: #ddd;
    opacity: 0.5;
}

.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Header */

header{
    width: 100%;
    display: grid;
    justify-items: center;
}

.cart{
    position: relative;
    top:3px;
}


    /* Navigation */

.navigation-sect{
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    display: grid;
    justify-items: center;
}

.navigation-container{
    height: 50px;
    width: 70%;
    background-color: #f1f1f1;
    display: flex;
}

.contact-us{
    list-style: none;
    display: flex;
    gap: 20px;
    width: 30%;
    align-content: center;
}

.contact-us li{
    height: 100%;
    width: 10%;
}

.contact-us a{
    height: 100%;
    width: 100%;
    font-size: 1vw;
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    transition: background-color 0.4s;
    transition-property: background-color;
}

.contact-us a::before{
    transition: color 0.4s;
    transition-property: color;
}

.icon.fb::before{
    content: "\f39e";
    color: black;
}

.icon.fb:hover{
    background-color: #3B5998;
}

.icon.fb:hover::before{
    color: white;
}

.icon.twitter::before{
    content: "\f099";
    color: black;
}

.icon.twitter:hover{
    background-color: #55ACEE;
}

.icon.twitter:hover::before{
    color: white;
}

.icon.google::before{
    content: "\f1a0";
    color: black;
}

.icon.google:hover{
    background-color: #dd4b39;
}

.icon.google:hover::before{
    color: white;
}

.icon.youtube::before{
    content: "\f167";
    color: black;
}

.icon.youtube:hover{
    background-color: #bb0000;
}

.icon.youtube:hover::before{
    color: white;
}

.navigation{
    list-style: none;
    width: 70%;
    height: 100%;
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.navigation li{
    width: fit-content;
    height: 100%;
}

.navigation a{
    margin-left: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: gray;
    transition: tranform 0.4s;
    transition-property: transform;
}

.navigation a:hover{
    color: black;
    transform: translateY(-3px);
}

.navigation a::after{
    justify-self: center;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: black;
    bottom: 0px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-property: transform;
}

.navigation a:hover::after{
    transform: scaleY(1);
}

.navigation a::before{
    font-size: 0.8vw;
    align-self: center;
}

.navi-text{
    align-self: center;
    font: initial;
    font-size: 1vw;
}

.navigation a:hover::before{
    color: rgb(0, 132, 255);
}

.icon.home::before{
    content: "\f015";
}

.icon.newnav::before{
    content: "\f1ea";
}

.icon.recruit::before{
    content: "\f2b5";
}

.icon.info::before{
    content: "\f05a";
}

.icon.fix::before{
    content: "\f0ad";
}

.icon.contact::before{
    content: "\f095";
}

    /* Logo, Searchbar, Login and Cart */

.header-content{
    width: 70.05%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 15%;
    background-color: white;
    border-bottom: 2px solid gray ;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.homelogo{
    align-self: center;
    width: 20%;
    max-height: 50%;
}

.header-content img{
    align-self: center;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transition-property: transform;
}

.header-content img:hover{
    transform: scale(1.1);
}

.searchbar-container{
    align-self: center;
    justify-self: center;
    width: 30%;
}

.searchbox{
    display: flex;
    width: 100%;
    position: relative;
}

.searchbar{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.searchbar:focus{
    outline: none;
}

.searchbutton{
    width: 30%;
    background-color: rgb(209, 209, 209);
    border: 2px solid black;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    font-size: 0.7vw;
    font-weight: bold;
    color: gray;
    align-content: center;
    justify-content: center;
    transition: color 0.4s;
    transition-property: color;
}

.searchresult-dropdown{
    display: none;
    position: absolute;
    background-color: white;
    width: 70.3%;
    top: 35px;
    z-index: 110;
    border: 1px solid black;
    border-top: none;
}

.search-product{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid rgb(187, 185, 185);
    font-size: 1vw;
}

.search-product:hover{
    background-color: rgb(155, 154, 154);
}

.searchbutton::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
}

.searchbutton:hover{
    color: black;
}

.keyword{
    transform: translateY(2px);
    list-style: none;
    display: flex;
    gap: 2%;
    font-weight: bold;
    font-size: 0.9vw;
}

.keyword a{
    font-weight: normal;
    color: gray;
    text-decoration: none;
}

.keyword a:hover{
    text-decoration: underline;
    color: black;
}

.user-option{
    width: 25%;
    height: 100%;
    display: flex;
    gap: 10%;
}
/* menu member */

.user{
    position: relative;
    top : 30px;
    float: left;
    display: table-cell;
}
.user:hover > .menuUser {
    z-index: 20;
    transform: translateY(0) scale(1);
}
.user .menuUser {
    position: absolute;
    left: 0;
    text-align: center;
    border-radius: 5px;
    background-color: #eee;
    transition-duration: .15s;
    transform: translateY(0) scale(0);
}
.user .menuUser a{
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;  
    color: black;
    font-size: 15px;    
}
.user .menuUser a:hover{
    background-color: #999;
    color: #eee;
    font-weight: bold;
}

.user-option-container{
    align-self: center;
    font-size: 1vw;
    font-weight: bold;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.user-option-container:hover > i{
    background: rgb(190, 188, 188);
    color: white;
}

.user-option-effect{
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 50%;
    transition: background-color 0.4s;
    transition-property: background-color;
}

.user-option-effect::before{
    transition: color 0.4s;
    transition-property: color;
}

.account{
    display: grid;
}

.icon.account.user-option-effect::before{
    align-self: center;
    justify-self: center;
    content: "\f007";
}

.cart{
    display: grid;
}

.icon.cart.user-option-effect::before{
    align-self: center;
    justify-self: center;
    content: "\f07a";
}

.scrolltotop-button{
    border: unset;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    background-color: rgb(204, 202, 202);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    transition-property: width, height, background-color;
    cursor: pointer;
}

.scrolltotop-button::after{
    content: "\f062";
    font-size: 20px;
    color: white;
    transition: font-size 0.2s;
    transition-property: font-size;
}

.scrolltotop-button:hover{
    width: 65px;
    height: 65px;
    background-color: gray;
}

.scrolltotop-button:hover::after{
    font-size: 30px;
}

.copy-right{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
}

.copy-right a{
    text-decoration: none;
    color: white;
  }

.copy-right p{
    margin: 0;
    width: 100%;
    height: 100%;
}

.noproduct-container{
    display: grid;
    width: 100%;
    place-items: center;
}

.noproduct{
    color: red;
    font-size: 1.5vw;
}

/* STYLE DUNG CHUNG */

/* Product Section */

.product-frame-sect{
    transform: translateY(70px);
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 100px;
}

.product-container{
    width: 69.8%;
    height: max-content;
    display: grid;
    justify-items: center;
    border: 2px solid;
    border-radius: 20px;
    position: relative;
}

.banner{
    position: absolute;
    z-index: 10;
    width: 98%;
    height: 50px;
    top: -30px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.product-container h1{
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    position: absolute;
    transition: color 0.2s;
    transition-property: color;
}

.product-frame{
    align-self: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-container .product{
    margin: 3% 0% 3% 0%;
    height: 400px;
    flex-basis: 263.65px;
    display: grid;
    grid-template-rows: 280px 35px 20px 65px;
    align-items: center;
    border: 1px solid rgb(203, 200, 200);
    text-decoration: none;
    color: unset;
    position: relative;
}

.product-container .product:hover > .product-img{
    transform: translateY(-15px);
}

.product-container .product:hover > .product-name{
    color: #288ad6;
}

.product-container .product-img{
    justify-self: center;
    width: 90%;
    background-image: url("../img/products/nokia-51-plus-black-18thangbh-400x400.jpg");
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    transition-property: transform;
}

.product-container .promotag{
    position: absolute;
    height: 25px;
    width: max-content;
    font-size: 15px;
    top: 240px;
    left: 20px;
    display: flex;
    place-items: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

.product-container .promotag.moiramat{
    background-color: #1191f8;
}

.product-container .promotag.tragop{
    background-color: #f28902;
}

.product-container .promotag.giamgia{
    padding: 0px 10px 0px 20px;
    background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
}

.product-container .promotag.giareonl{
    background-color: #3fb846;
}

.product-container .fa-bolt{
    position: absolute;
    border: 1px solid  none;
    background-color: #f21;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    transform: translateX(-30px);
    display: grid;
    place-items: center;
    font-size: 12px;
}

.product-container .product-name{
    margin-left: 6%;
    font-size: 20px;
    font-weight: initial;
    justify-self: flex-start;
}

.product-container .product-price{
    margin-left: 6%;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.product-container .product-price strong{
    color: red;
}

.product-container .product-price span{
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}

.product-container .star-container{
    transform: translateX(5%);
    height: 100%;
    display: flex;
}

.product-container .fa-star{
    align-self: center;
    color: orange;
    font-size: 14px;
}

.product-container .fa-star-o{
    align-self: center;
    color: orange;
}

.product-container .ratecountdisplay{
    transform: translate(5%, 4%);
    align-self: center;
    color: gray;
    font-size: 15px;
}

.product-container .addtocart-button{
    border: unset;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 2px solid rgb(199, 199, 199);
    background-color: white;
    border-radius: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.product-container .addtocart-button::after{
    content: "\2b";
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.product-container .addtocart-button:hover{
    background-color: rgb(199, 199, 199);
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}

.product-container .addtocart-button:hover::after{
    color: black;
}

.product-container .see-all{
    position: absolute;
    z-index: 10;
    width: 98%;
    height: 50px;
    bottom: -30px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    text-decoration: none;
    transition: background-color 0.2s;
    transition-property: background-color;
}

.product-container .see-all:hover{
    background-color: rgb(196, 196, 196);
}

.product-container .see-all:hover > h1{
    color: black !important;
}

.product-container .hot{
    background-image: linear-gradient(120deg, #ff9c00 0%, #ec1f1f 50%, #ff9c00 100%);
}

.product-container .new{
    background-image: linear-gradient(120deg, #42bcf4 0%, #004c70 50%, #42bcf4 100%)
}

.product-container .sale0{
    background-image: linear-gradient(120deg, #ff9c00 0%, #ec1f1f 50%, #ff9c00 100%);
}

.product-container .shockonl{
    background-image: linear-gradient(120deg, #5de272 0%, #007012 50%, #5de272 100%);
}

.product-container .discount{
    background-image: linear-gradient(120deg, #ff9c00 0%, #ec1f1f 50%, #ff9c00 100%);
}

.product-container .cheap{
    background-image: linear-gradient(120deg, #5de272 0%, #007012 50%, #5de272 100%);
}