/* CSS cho thuoc tinh chung */

html, body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

hr{
    width: 70%;
    color: #ddd;
    opacity: 0.5;
}

.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Header */

header{
    width: 100%;
    display: grid;
    justify-items: center;
}

    /* Navigation */

.navigation-sect{
    height: 50px;
    width: 100%;
    background-color: #f1f1f1;
    display: grid;
    justify-items: center;
}

.navigation-container{
    height: 50px;
    width: 70%;
    background-color: #f1f1f1;
    display: flex;
}

.contact-us{
    list-style: none;
    display: flex;
    gap: 20px;
    width: 30%;
    align-content: center;
}

.contact-us li{
    height: 100%;
    width: 10%;
}

.contact-us a{
    height: 100%;
    width: 100%;
    font-size: 1vw;
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    transition: background-color 0.4s;
    transition-property: background-color;
}

.contact-us a::before{
    transition: color 0.4s;
    transition-property: color;
}

.icon.fb::before{
    content: "\f39e";
    color: black;
}

.icon.fb:hover{
    background-color: #3B5998;
}

.icon.fb:hover::before{
    color: white;
}

.icon.twitter::before{
    content: "\f099";
    color: black;
}

.icon.twitter:hover{
    background-color: #55ACEE;
}

.icon.twitter:hover::before{
    color: white;
}

.icon.google::before{
    content: "\f1a0";
    color: black;
}

.icon.google:hover{
    background-color: #dd4b39;
}

.icon.google:hover::before{
    color: white;
}

.icon.youtube::before{
    content: "\f167";
    color: black;
}

.icon.youtube:hover{
    background-color: #bb0000;
}

.icon.youtube:hover::before{
    color: white;
}

.navigation{
    list-style: none;
    width: 70%;
    height: 100%;
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.navigation li{
    width: fit-content;
    height: 100%;
}

.navigation a{
    margin-left: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: gray;
    transition: tranform 0.4s;
    transition-property: transform;
}

.navigation a:hover{
    color: black;
    transform: translateY(-3px);
}

.navigation a::after{
    justify-self: center;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: black;
    bottom: 0px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-property: transform;
}

.navigation a:hover::after{
    transform: scaleY(1);
}

.navigation a::before{
    font-size: 0.8vw;
    align-self: center;
}

.navi-text{
    align-self: center;
    font: initial;
    font-size: 1vw;
}

.navigation a:hover::before{
    color: rgb(0, 132, 255);
}

.icon.home::before{
    content: "\f015";
}

.icon.newnav::before{
    content: "\f1ea";
}

.icon.recruit::before{
    content: "\f2b5";
}

.icon.info::before{
    content: "\f05a";
}

.icon.fix::before{
    content: "\f0ad";
}

.icon.contact::before{
    content: "\f095";
}

    /* Logo, Searchbar, Login and Cart */

.header-content{
    width: 70.05%;
    height: 100px;
    position: sticky;
    top: 0;
    left: 15%;
    background-color: white;
    border-bottom: 2px solid gray ;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.homelogo{
    align-self: center;
    width: 20%;
    max-height: 50%;
}

.header-content img{
    align-self: center;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transition-property: transform;
}

.header-content img:hover{
    transform: scale(1.1);
}

.searchbar-container{
    align-self: center;
    justify-self: center;
    width: 30%;
}

.searchbox{
    display: flex;
    width: 100%;
}

.searchbar{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;
}

.searchbar:focus{
    outline: none;
}

.searchbutton{
    width: 30%;
    background-color: rgb(209, 209, 209);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    font-size: 0.7vw;
    font-weight: bold;
    color: gray;
    align-content: center;
    justify-content: center;
    transition: color 0.4s;
    transition-property: color;
}

.searchbutton::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
}

.searchbutton:hover{
    color: black;
}

.keyword{
    transform: translateY(2px);
    list-style: none;
    display: flex;
    gap: 2%;
    font-weight: bold;
    font-size: 0.9vw;
}

.keyword a{
    font-weight: normal;
    color: gray;
    text-decoration: none;
}

.keyword a:hover{
    text-decoration: underline;
    color: black;
}

.user-option{
    width: 25%;
    height: 100%;
    display: flex;
    gap: 10%;
}
/* menu member */

.user{
    position: relative;
    top : 30px;
    float: left;
    display: table-cell;
}
.user:hover > .menuUser {
    z-index: 20;
    transform: translateY(0) scale(1);
}
.user .menuUser {
    position: absolute;
    left: 0;
    text-align: center;
    border-radius: 5px;
    background-color: #eee;
    transition-duration: .15s;
    transform: translateY(0) scale(0);
}
.user .menuUser a{
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;  
    color: black;
    font-size: 15px;    
}
.user .menuUser a:hover{
    background-color: #999;
    color: #eee;
    font-weight: bold;
}


.user-option-container{
    align-self: center;
    font-size: 1vw;
    font-weight: bold;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.user-option-container:hover > i{
    background: rgb(190, 188, 188);
    color: white;
}

.user-option-effect{
    padding: 10px 12px;
    border: 2px solid black;
    border-radius: 50%;
    transition: background-color 0.4s;
    transition-property: background-color;
}

.user-option-effect::before{
    transition: color 0.4s;
    transition-property: color;
}

.account{
    display: grid;
}

.icon.account.user-option-effect::before{
    align-self: center;
    justify-self: center;
    content: "\f007";
}

.cart{
    display: grid;
}

.icon.cart.user-option-effect::before{
    align-self: center;
    justify-self: center;
    content: "\f07a";
}

.scrolltotop-button{
    border: unset;
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    background-color: rgb(204, 202, 202);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    transition-property: width, height, background-color;
}

.scrolltotop-button::after{
    content: "\f062";
    font-size: 20px;
    color: white;
    transition: font-size 0.2s;
    transition-property: font-size;
}

.scrolltotop-button:hover{
    width: 65px;
    height: 65px;
    background-color: gray;
}

.scrolltotop-button:hover::after{
    font-size: 30px;
}

.copy-right{
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
}

.copy-right a{
    text-decoration: none;
    color: white;
  }

.copy-right p{
    margin: 0;
    width: 100%;
    height: 100%;
}

.noproduct-container{
    display: grid;
    width: 100%;
    place-items: center;
}

.noproduct{
    color: red;
    font-size: 1.5vw;
}